/assignmentMark.ipynb
/Codes.ipynb
/coursera_jupyter_lab.ipynb
/inactive.txt
/Markdowns.ipynb
/members.txt
/module_exercise.py
/module_notebook.ipynb
/my_first_jupyter_notebook.ipynb
/my_module.py
/new_sample.xml
/testAppend.txt
/testWrite.txt
/__pycache__